<tr>
    {% set level = busfactor | level %}
    <td class="{{level}}">{{icon | raw}} {{name | raw}}</td>
    <td class="{{level}} big">{% include 'coverage_bar.html.twig' with {'percent': busfactor, 'level': busfactor | level} %}</td>
    <td class="{{level}} small">{{ busfactor }}%</td>
    <td class="{{level}} small">{{ risky_count }}</td>
    <td class="{{level}} big">
        {% for key, hero in heroes %}{{ key }}, {% endfor %}
    </td>
</tr>
