<tr>
    <td class="{{lines_level}}">{{icon | raw}} {{name | raw}}</td>
    <td class="{{lines_level}}">{{ monthAuthors_count }}</td>
    <td class="{{lines_level}}">{{ authors_count }}</td>
    <td class="{{lines_level}}">{{ hashes_count }}</td>

    {#
    <td class="{{classes_level}} big">{{classes_bar | raw}}</td>
    <td class="{{classes_level}} small"><div align="right">{{classes_tested_percent}}</div></td>
    <td class="{{classes_level}} small"><div align="right">{{classes_number}}</div></td>
    #}
</tr>
